# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.pkl

# Node
node_modules/
.next/
out/

# Uploads
uploads/
backend/uploads/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Model files
model/*.pkl
model/*.keras
model/*.h5
