# Backend Environment Variables

# MongoDB
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=voice_spoofing_db

# Clerk Authentication
CLERK_SECRET_KEY=sk_test_gz5M1PgbVgQEfsJf2CKUlrwMU8JmunmhW0CBBjv5gM
CLERK_PUBLISHABLE_KEY=pk_test_c2luY2VyZS1ncm91cGVyLTI5LmNsZXJrLmFjY291bnRzLmRldiQ

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
